html, body {
  margin:0;
  padding: 0;
  font-family: Verdana, sans-serif;
  background-color:  #dddddd;
}

header, nav, section, footer {
  /*border: 1px solid black;*/
}

#wrap {
  width: 70%;
  /*border: 2px solid black;*/
  margin: 0 auto;
  background-color: #ffffff;
}

header {
  text-align: center;
  padding: 10px;
  background-color: lightblue;
}

header img {
  width: 75%;
}

nav {
  background-color: #0b3d91;
  padding: 20px 0;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

nav a {
  color: white;
  padding: 20px 40px;
  text-decoration: none;
}

nav a:hover{
  background-color: yellow;
  color: navy;
}

nav li {
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0;
}

section {
padding: 40px;
overflow: auto;
}

section h1 {
  color: #0b3d91;
  margin: 0px;
  font-size: 200%;
}

footer {
  background-color: #0b3d91;
  color: white;
  text-align: center;
  padding: 10px;
}

.tide {
  width: 30%;
  float: right;
  margin-top: -40px;
}

.button {
    background-color: #0b3d91;
    color: white;
    padding: 10px;
    font-size: 150%;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 100px;
    display: inline-block;
}
