html, body {
  margin: 0;
  padding: 0;
  background: #ddd;
  font-family: Arial, sans-serif;
}

#wrap {
  margin: 0 auto;
  width: 75%;
}


@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  #wrap {
    width: 100%;
  }
  aside {
    text-align: center;
  }
  aside a {
    padding: 10px;
  }
  nav li {
    display: block;
  }
  nav a {
    display: block;
    padding: 10px;
  }
  nav a:hover {
    background-color: transparent;
  }
  aside, article {
    float: none;
    width: 91%;
  }



}
header, nav, section, footer {
  background: white;
}

header {
  background-color: aqua;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
header {
  font-size: 100px;
}
nav {
  background-color: red;
  padding: 20px;
  text-align: center;
}
nav {
  background-color: red;
  padding: 10px;
  text-align: center;
}
nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 120%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  text-align: center;
}

nav a:hover {
  background-color: maroon;
}

nav ul {
  margin: 3;
  padding: 5;

}
nav ul {
  margin: 5;
  padding: 0;

}
section {
  background-color: plum;
}

footer {
  background-color: plum;
}
